<!-- views/partials/vendor_order_subview.ejs -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles/vendor/vendor_styles.css">
    </head>
    <body>
        <!-- Main Container -->
        <div class="vendor_order_subview">

            <!-- Image - Left -->
            <div style="width: 100px; height: 10%; overflow: hidden;">
                <img src="<%=product.image_url%>" alt="Image" style="max-width: 100px; max-height: 100px; border-radius: 10px; object-fit: cover;">

            </div>
            
            <!-- Information Container - Middle -->
            <div class="vendor_order_info_container">

                <!-- Main information - top middle -->
                <div class="vendor_order_info">
                    <h3><%=product.name%>, </h3>
                    <h3><%=order.quantity%> Quantity</h3>
                </div>
    
                <!-- Sub information - bottom middle -->
                <div class="vendor_order_subinfo">
                    <p>From <%=product.vendor_username%> to </p>
                    <p><%=user.username%> in </p>
                    <p>7 days</p>
                </div>    
            </div>

            <!-- Price and View Text - Right -->
            <div style="display: flex; flex-direction: row; gap: 20%; align-items: center; margin-right: 5%;">
                <h2 style="font-family: 'Poppins Light';">$<%=order.quantity * product.price%></h2>
                <h3 style="font-family: 'Poppins Light';">View</h3>
            </div>
        </div>
    </body>
</html>