<!-- views/user/user_cart.ejs -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles/styles.css">
        <link rel="stylesheet" href="/styles/user/user_cart_styles.css">
        <title>User Cart</title>
    </head>
    
    <body>
        <!-- Navigation Bar -->
        <%- include ('../partials/navigation_bar.ejs') %>

        <!-- Title -->
        <h2 style="margin-left: 2%;">Shopping Cart%></h2>

        <!-- Main Container -->
        <div class="shopping_cart_view">
            
            <!-- Shopping Cart Listings - Left Side of Page -->
            <div class="shopping_cart_listings">
                
                <!-- If cart is empty, show message -->
                <%if(cart_items.length == 0){%>            
                    <h3 style="font-family: 'Poppins Light';">Your cart is empty!</h3>
                
                <!-- Cart contents -->
                    <%} else { 
                    cart_items.forEach(listing => { %>
                        <a href="/user_product_view" style="text-decoration: none; color: inherit; width: 90%;">
                            <%- include ('../partials/listing_subview_list.ejs', { listing }) %>
                        </a>
                <%});}%>
            </div>
            
            <!-- Cart Summary and Checkout Button - Right Side of Page-->
            <div class="shopping_cart_summary">
                <h2>Cart Summary</h2>

                <!-- Product Count -->
                <div class="information_row">
                    <p>Products</p>
                    <p><%=cart_items.length%></p>
                </div>

                <!-- Order Subtotal -->
                <div class="information_row">
                    <p>Subtotal</p>
                    <p>$<%=subtotal%></p> 
                </div>

                <!-- Tax -->
                <div class="information_row">
                    <p>Tax</p>
                    <p>$3.49</p>
                </div>

                <!-- Shipping -->
                <div class="information_row">
                    <p>Shipping</p>
                    <p>$<%=shipping%></p>
                </div>

                <!-- Order Total -->
                <div class="information_row">
                    <p>Total</p>
                    <p>$<%=total%></p>
                </div>

                <!-- Checkout Button -->
                <a href="/user_checkout">
                    <h2>Go to Checkout!</h2>
                </a>
            </div>
        </div>
        
    </body>
</html>