<!-- views/user/user_checkout.ejs -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles/styles.css">
        <link rel="stylesheet" href="/styles/user/user_checkout_styles.css">

        <title>User Checkout</title>
    </head>

    <body>
         <!-- Navigation Bar -->
        <%- include ('../partials/navigation_bar.ejs') %>

        <!-- Title -->
        <h2 style="margin-left: 2%;">Checkout</h2>

        <!-- Main Container -->
        <div class="user_checkout_view">

            <!-- Checkout Information - Left Side of Page -->
            <div class="user_checkout_information_view">

                <!-- User Address Information for Shipping -->
                <div class="user_checkout_information_subview">
                    <h2>Shipping Information</h2>
                    <div class="information_row">
                        <p>Address</p>
                        <p>1 Trinity Place</p>
                    </div>
                    <div class="information_row">
                        <p>City</p>
                        <p>San Antonio</p>
                    </div>
                    <div class="information_row">
                        <p>State</p>
                        <p>Texas</p>
                    </div>
                    <div class="information_row">
                        <p>Zip</p>
                        <p>78212</p>
                    </div>

                </div>

                <!-- User Payment Information -->  
                <div class="user_checkout_information_subview">
                    <h2>Payment Information</h2>
                    <div class="information_row">
                        <p>Payment Type</p>
                        <p>Card</p>
                    </div>
                    <div class="information_row">
                        <p>Card Type</p>
                        <p>Visa</p>
                    </div>
                    <div class="information_row">
                        <p>Card Number</p>
                        <p>1234567890</p>
                    </div>
                    <div class="information_row">
                        <p>Name on Card</p>
                        <p>Leeroy </p>
                    </div>
                </div>    
            </div>


            <!-- Order Details - Right Side of Page, Includes Submit Order Button -->
            <div class="user_checkout_order_details_container">
                <h2>Order Details</h2>

                <div class="information_row">
                    <h3>Estimated Delivery</h3>
                    <p style="font-family: 'Poppins Light';"><%=deliveryDate%> (7 days)</p>
                </div>

                <div class="information_row">
                    <h3>Subtotal</h3>
                    <h3 style="font-family: 'Poppins Light';">$<%=subtotal%></h3>
                </div>

                <div class="information_row">
                    <h3>Tax</h3>
                    <h3 style="font-family: 'Poppins Light';">$<%=tax%></h3>
                </div>

                <div class="information_row">
                    <h3>Estimated Shipping</h3>
                    <h3 style="font-family: 'Poppins Light';">$<%=shipping%></h3>
                </div>

                <div class="information_row">
                    <h3>Total</h3>
                    <h3 style="font-family: 'Poppins Light';">$<%=total%></h3>
                </div>

                <!-- Submit Order Button -->
                <!-- <button class="user_checkout_submit_order_button">Submit Order</button> -->
                <form action="" method="post">
                    <input type="hidden" name="profile" value="<%= profile.id %>"/>
                    <input type="submit" name="Submit Order" value="Submit Order" />
                </form>
            </div>
        </div>
    </body>
</html>