<!-- views/user_profile.ejs -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles/styles.css">
        <link rel="stylesheet" href="/styles/user/user_profile_styles.css">
        <title>Profile</title>
    </head>

    <body>
         <!-- Navigation Bar -->
        <%- include ('../partials/navigation_bar.ejs') %>

        <!-- Header -->
        <div style="margin-left: 2%; display: flex; align-items: column;">
            <h2>My Profile -</h2>
            <h2>- <%=profile.username%></h2>
        </div>

        <!-- Main Container -->
        <div class="user_profile_view">
            <h3> Request Vendor Powers! </h3>
            <!-- Orders Container - Left side of page -->
            <div class="user_profile_orders_container">

                <!-- Current Orders - shown first -->
                <div class="user_profile_current_orders_view">
                    <h3>Current Orders</h3>

                    <%if(current_orders.length == 0){%>            
                        <h2 style="font-family: 'Poppins Light';">You do not have any open orders.</h2>
                    <%} else { 
                        current_orders.forEach(arr => { 
                            const [order, product] = arr;
                            user = profile;
                            %>
                            <a href="user_product_view?listingid=<%= product.id %>" style="text-decoration: none; color: inherit;"><%- include ('../partials/vendor_order_subview.ejs', { order, product, user }) %></a>
                            <%
                        });}
                    %>
                </div>

                <!-- Previous Orders - shown second -->
                <div class="user_profile_previous_orders_view">
                    <h3>Previous Orders</h3>          
                    <%if(previous_orders.length == 0){%>            
                        <h2 style="font-family: 'Poppins Light';">You do not have any previous orders.</h2>
                    <%} else { 
                        previous_orders.forEach(arr => { 
                            const [order, product] = arr;
                            user = profile;
                            %>
                            <a href="user_product_view?listingid=<%= product.id %>" style="text-decoration: none; color: inherit;"><%- include ('../partials/vendor_order_subview.ejs', { order, product, user }) %></a>
                            <%
                        });}
                    %>
                </div>
            </div>
            

            <!-- User Information - Right side of page -->
            <div class="user_profile_information_view">
                <h3>My User Information</h3>

                <!-- Total Orders -->
                <div class="information_row">
                    <p>Total Orders</p>
                </div>

                <!-- User Physical Address -->
                <div class="information_row">
                    <p>Address</p>
                    <div style="display: flex; flex-flow: row nowrap; gap: 3px;">
                        <p style="font-family: 'Poppins Light'; font-size: small;"><%= profile.physical_address%>,</p>
                        <p style="font-family: 'Poppins Light'; font-size: small;"><%= profile.city%>,</p>
                        <p style="font-family: 'Poppins Light'; font-size: small;"><%= profile.state%>,</p>
                        <p style="font-family: 'Poppins Light'; font-size: small;"><%= profile.zip%></p>
                    </div>
                </div>

                <!-- User username -->
                <div class="information_row">
                    <p>Username</p>
                    <p style="font-family: 'Poppins Light';"><%=profile.username%></p>
                </div>

                <!-- User email -->
                <div class="information_row">
                    <p>Email</p>
                    <p style="font-family: 'Poppins Light';"><%=profile.email%></p>
                </div>
                <!-- Logout -->
                <div class="information_row" style="margin-top: 20px;">
                    <a href = "/logout" class="submit_button">Log out</a>
                </div>
            </div>
        </div>
    </body>
</html>
